@using la_mia_pizzeria_static.data
@model List<Pizze>
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<div class="text-center">
    <a href="@Url.Action("Create")">Creazione pizze</a>

    <div class="container ">
        @{
            foreach (var pizza in Model)
            {
                <div class="card">
                    <p>@pizza.Nome</p>
                    <p>@pizza.Prezzo $</p>
                    <p>@pizza.Descrizione</p>
                    <p>@pizza.UrlFoto</p>
                    <a href="@Url.Action("PerId", "Pizza", new { id = pizza.ID })">dettagglio pizza</a>
                </div>
            }   
        }
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
